<table style="width: 100%; border: 1px solid black; border-collapse: collapse;">
        <tr style="border: 1px solid black;">
            <th style="border: 1px solid black;">
                    Condition
            </th>
            <th style="border: 1px solid black;">
                    Left (Correct value)
            </th>
            <th style="border: 1px solid black;">
                    Right (Output value)
            </th>
        </tr>
    <!--ENTRY
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;">
                <pre><<<input>>></pre>
            </td>
            <td style="border: 1px solid black;">
                <pre><<<output>>></pre>
            </td>
            <td style="border: 1px solid black;">
                <pre><<<correct>>></pre>
            </td>
        </tr>
    -->
    </table>