<table class="gcheck gcheck-table gcheck-horizontal-table">
    <tr class="gcheck gcheck-tr gcheck-horizontal-tr">
        <th class="gcheck gcheck-th gcheck-horizontal-th">
            {{{input_header}}}
        </th>
<!--ENTRY
        <td class="gcheck gcheck-td gcheck-horizontal-td">
            <pre>{{{input}}}</pre>
        </td>
-->
    </tr>
    <tr class="gcheck gcheck-tr gcheck-horizontal-tr">
        <th class="gcheck gcheck-th gcheck-horizontal-th">
            {{{output_header}}}
        </th>
<!--ENTRY
        <td class="gcheck gcheck-td gcheck-horizontal-td">
            <pre>{{{output}}}</pre>
        </td>
-->
    </tr>
    <tr class="gcheck gcheck-tr gcheck-horizontal-tr">
        <th class="gcheck gcheck-th gcheck-horizontal-th">
            {{{correct_header}}}
        </th>
<!--ENTRY
        <td class="gcheck gcheck-td gcheck-horizontal-td">
            <pre>{{{correct}}}</pre>
        </td>
-->
    </tr>
</table>