<table class="gcheck gcheck-table gcheck-vertical-table">
    <tr class="gcheck gcheck-tr gcheck-vertical-tr">
    {% for header in headers %}
        <th class="gcheck gcheck-th gcheck-vertical-th">
            {{header}}
        </th>
    {% endfor %}
    </tr>
    {% for row in rows %}
        <tr class="gcheck gcheck-tr gcheck-vertical-tr">
        {% for field in row %}
            <td class="gcheck gcheck-td gcheck-vertical-td">
                <pre>{{field | diff('<span style="background-color: red">', '</span>')}}</pre>
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>